<div class="book-listing">

  <img src="{{ include.image | relative_url }}" alt="{{ include.title }} book cover" class="book-listing-img">

  <div class="book-listing-info">
    <h3>{{ include.title }}</h3>

    {% if include.release %}
      <p><strong>Released:</strong> {{ include.release }}</p>
    {% endif %}

    {% if include.genre %}
      <p><strong>Genre:</strong> {{ include.genre }}</p>
    {% endif %}

    {% if include.description %}
      <p>{{ include.description }}</p>
    {% endif %}

    <p><a href="{{ include.link | relative_url }}">Read more »</a></p>
  </div>

  <hr>
</div>
